/* Main Styles */

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background: #eaeaea;
  color: #333;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  background: #000;
  color: #eee;
  padding: 1em 0;
  width: 100%;
  text-align: center;
}

/* Custom Styles */

.container {
  margin: auto;
  max-width: 1200px;
}

.btn {
  font-size: 0.8em;
  text-transform: uppercase;
}

#hero {
  min-height: 450px;
  text-align: center;
}

#hero h1 {
  padding-top: 3.5em;
  font-size: 1.8em;
}

#hero p {
  padding-top: 0.5em;
  font-size: 1.3em;
}

#hero .btn {
  display: inline-block;
  text-decoration: none;
  background: transparent;
  color: #333;
  padding: 0.5em 1em;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 1.5em 0;
}

#hero .btn:hover {
  background: #eaeaea;
}

#hero-img {
  position: absolute;
  width: 100%;
  height: 450px;
  background: #333 url("../images/hero.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.section-title {
  padding: 1em;
  text-align: center;
}

.section-text {
  padding: 0 1em 1em;
  text-align: center;
}

#section-a {
  padding: 0;
  margin: 0;
  text-align: center;
}

#section-a .cards {
  list-style: none;
  padding: 0;
  margin: 0;
}

#section-a .cards {
  color: #333;
}

#section-a .card {
  background: #fff;
}

#section-a .card-img {
  border: 1px solid #ccc;
}

#section-a .card-content {
  padding: 1.5em;
  color: #333;
}

#section-b {
  color: #333;
}

#section-c .card:first-child {
  background: #228dcf;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 0 1em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  #section-a .cards {
    justify-content: space-between;
  }

  #section-a .card {
    flex: 0 1 calc(33% - 1em);
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 1em 0;
  }

  #section-a .card-img {
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
  }

  #section-c .card {
    flex: 0 1 49%;
  }
}
